@font-face {
    font-family: 'MartianMono';
    src: url(D:\App\portfolio\src\assets\fonts\MartianMono-Regular.ttf) format('truetype');
}
@media (max-width: 768px) {
    .navbar {
      max-height: 100vh; /* Adjust the height as needed */
      overflow-y: auto; /* Add scroll if necessary */
    }
}

h1{
    font-family: 'MartianMono';
    font-size: xx-large;
    font-weight: bold;
}

h2{
    font-family: 'MartianMono';
    font-size: large;
}
h3{
    font-family: 'MartianMono';
    font-size: medium;
}
h4{
    font-family: 'MartianMono';
    font-size: small;
}
h5{
    font-family: 'MartianMono';
    font-size: xx-small;
}

body{
    font-family: 'MartianMono';
    font-size: 12px;
}