@font-face {
    font-family: 'MartianMono';
    src: url(D:\App\portfolio\src\assets\fonts\MartianMono-Regular.ttf) format('truetype');
}

h1{
    font-family: 'MartianMono';
    font-size: xx-large;
    font-weight: bold;
}

h2{
    font-family: 'MartianMono';
    font-size: large;
}
h3{
    font-family: 'MartianMono';
    font-size: medium;
}
h4{
    font-family: 'MartianMono';
    font-size: small;
}

body{
    font-family: 'MartianMono';
    font-size: 12px;
}
